---
import Layout from '~/layouts/layout.astro';
import ProjectCard from '~/components/projects/project-card.astro';

const BLOG_PATH = 'blog';
const TITLE = 'Blog';
const DESCRIPTION = 'Writing on topics I am passionate about.';

const posts = await Astro.glob('./*.mdx');
---

<Layout title={TITLE} description={DESCRIPTION}>
	<main class="">
		<h1 class="font-sans text-xl font-bold">{TITLE}</h1>
		<p class="text-muted-foreground mb-4 text-sm leading-relaxed">
			{DESCRIPTION}
		</p>

		<div class="mx-auto grid max-w-[800px] grid-cols-1 gap-3 sm:grid-cols-2">
			{
				posts
					.sort((postA, postB) => {
						const aDate = new Date(postA.frontmatter.date);
						const bDate = new Date(postB.frontmatter.date);
						return bDate.getTime() - aDate.getTime();
					})
					.map(async (project) => {
						const { cover, title, date, slug, tools, description } = project?.frontmatter;
						const href = `/${BLOG_PATH}/${slug}`;
						const dateStr = new Date(date).toLocaleString('en-US', {
							month: 'short',
							day: 'numeric',
							year: 'numeric'
						});

						return <ProjectCard {href} {cover} {title} {tools} {description} date={dateStr} />;
					})
			}
		</div>
	</main>
</Layout>
