---
import profile from '~/constants/profile';
import menu from '~/constants/menu';
import AvatarComponent from '../shared/avatar';
import { Separator } from '../shared/separator';
import { Icon } from 'astro-icon/components';
import { Link } from '../shared/link';
---

<div class="sticky top-0 min-w-3xs space-y-6 p-6">
	{/* Profile */}
	<div class="flex items-center gap-3">
		<AvatarComponent
			client:load
			src={profile.imgUrl}
			alt={`Avatar of ${profile.name}`}
			fallback={profile.initials}
		/>
		<div>
			<p class="font-semibold">{profile.name}</p>
			<p class="text-sm text-neutral-400">{profile.job}</p>
		</div>
	</div>

	<Separator />

	{/* Nav */}
	<div class="flex flex-col space-y-2">
		<p class="text-xs text-neutral-400 uppercase">Navigation</p>
		{
			menu.map((menu) => (
				<Link href={menu.path} className="w-fit text-white" underline>
					<Icon name={`lucide:${menu.icon}`} size={14} />
					{menu.name}
				</Link>
			))
		}
	</div>

	<Separator />

	{/* Socials */}
	<div class="flex flex-col space-y-2">
		<p class="text-xs text-neutral-400 uppercase">Stay Connected</p>
		{
			profile.socials.map((social) => (
				<Link href={social.href} className="w-fit text-white" external underline>
					<Icon name={`lucide:${social.icon}`} size={14} />
					{social.label}
				</Link>
			))
		}
	</div>
</div>
