---
import profile from '~/constants/profile';
import menu from '~/constants/menu';
import { Separator } from '../shared/separator';
import { Icon } from 'astro-icon/components';
import { Link } from '../shared/link';
import ThemeToggle from './theme-toggle.astro';
---

<div class="sticky top-0 h-fit min-w-3xs space-y-6 pt-6 p-4">
	{/* Profile */}
	<div class="flex items-center gap-3">
		<Icon name="cloud" size={36} />
		<div>
			<p class="font-semibold">{profile.name}</p>
			<p class="text-sm text-muted-foreground">{profile.job}</p>
		</div>
		<ThemeToggle className='self-start' />
	</div>

	<Separator />

	{/* Nav */}
	<div class="flex flex-col space-y-4">
		<p class="text-xs text-muted-foreground uppercase">Navigation</p>
		{
			menu.map((menu) => (
				<Link href={menu.path} className="w-fit text-primary" underline>
					<Icon name={`${menu.icon}`} size={24} />
					{menu.name}
				</Link>
			))
		}
	</div>

	<Separator />

	{/* Socials */}
	<div class="flex flex-col space-y-4">
		<p class="text-xs text-muted-foreground uppercase">Stay Connected</p>
		{
			profile.socials.map((social) => (
				<Link href={social.href} className="w-fit text-primary" external underline>
					<Icon name={`${social.icon}`} size={24} />
					{social.label}
				</Link>
			))
		}
	</div>
</div>
