---
import profile from '~/constants/profile';
import menu from '~/constants/menu';
import { Separator } from '../shared/separator';
import { Icon } from 'astro-icon/components';
import { Link } from '../shared/link';
import ThemeToggle from './theme-toggle.astro';
---

<div class="sticky top-0 flex h-screen min-w-3xs flex-col justify-between p-4 pt-6">
	<section class="space-y-6">
		{/* Profile */}
		<a href="/" class="relative flex items-center gap-3">
			<Icon name="cloud" size={36} />
			<div>
				<p class="font-heading text-[0.7rem] font-semibold">{profile.name}</p>
				<p class="text-muted-foreground text-sm">{profile.job}</p>
			</div>
		</a>

		<Separator />

		{/* Nav */}
		<div class="flex flex-col space-y-4">
			<p class="text-muted-foreground text-xs uppercase">Navigation</p>
			{
				menu.map((menu) => (
					<Link
						href={menu.path}
						className="w-fit text-primary font-heading text-[0.7rem] flex items-end"
						underline
					>
						<Icon name={`${menu.icon}`} size={24} />
						{menu.name}
					</Link>
				))
			}
		</div>

		<Separator />

		{/* Socials */}
		<div class="flex flex-col space-y-4">
			<p class="text-muted-foreground text-xs uppercase">Stay Connected</p>
			{
				profile.socials.map((social) => (
					<Link
						href={social.href}
						className="w-fit text-primary font-heading text-[0.7rem] flex items-end"
						external
						underline
					>
						<Icon name={`${social.icon}`} size={24} />
						{social.label}
					</Link>
				))
			}
		</div>
	</section>
	<section class="space-y-6">
		<Separator />
		<ThemeToggle />
	</section>
</div>
