---
import type { Heading1, Heading2, Heading3 } from '~/interfaces/notion/block.interface';
import { buildHeadingId } from '~/libs/blog-helper';
import RichText from './rich-text.astro';
import NotionBlock from './notion-block.astro';

interface Props {
	block: Heading1;
	headings: (Heading1 | Heading2 | Heading3)[];
}

const { block, headings }: Props = Astro.props;

const id = buildHeadingId(block);
---

{
	block.isToggleable ? (
		<details class="toggle">
			<summary>
				<a href={`#${id}`} id={id}>
					<h3>
						{block.richTexts.map((richText) => (
							<RichText richText={richText} />
						))}
					</h3>
				</a>
			</summary>
			<div>
				{block.hasChildren && block.children && (
					<NotionBlock blocks={block.children!} headings={headings} />
				)}
			</div>
		</details>
	) : (
		<a href={`#${id}`} id={id}>
			<h3>
				{block.richTexts.map((richText) => (
					<RichText richText={richText} />
				))}
			</h3>
		</a>
	)
}

<style>
	h3 {
		margin: 1.1em 0 0.3em;
		color: var(--fg);
		font-size: 1.8rem;
	}
	@media (max-width: 640px) {
		h3 {
			font-size: 1.3rem;
		}
	}

	.toggle {
		margin: 2rem 0 0;
	}
	@media (max-width: 640px) {
		.toggle {
			margin: 1.4rem 0 0;
		}
	}

	.toggle > summary {
		cursor: pointer;
	}

	.toggle > summary > a {
		display: inline;
	}

	.toggle > summary > a > h3 {
		display: inline;
	}

	.toggle > div {
		margin-left: 1em;
	}
</style>
