---
import Layout from '../layouts/layout.astro';
import PageHead from '~/components/main/page-head.astro';
import ProjectCard from '~/components/main/project-card.astro';
import { Button } from '~/components/shared/button';
import { Separator } from '~/components/shared/separator';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { Link } from '~/components/shared/link';

const projects = (await getCollection('projects'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 5);

const blog = (await getCollection('blog'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 5);
---

<Layout className="flex flex-col space-y-12">
	<PageHead slot="head" title="Home" />
	{/* Hero */}
	<section class="grid w-full gap-10 lg:grid-cols-2 lg:place-items-center">
		<div class="order-2 space-y-6 lg:order-1">
			<h1 class="text-4xl font-bold">Hey, I&apos;m Fahri!</h1>
			<p class="max-w-xl">
				I’m a software engineer, and this is where I keep my projects, writings, experiments, and
				thoughts along my learning journey.
			</p>
			<p class="text-sm">Everything on this site is written by me, not AI.</p>

			<div class="flex gap-3">
				<Link href={'/about'}>
					<Button variant="secondary" className="gap-2"> About Me </Button>
				</Link>
			</div>
		</div>

		<div class="order-1 lg:order-2">
			<Icon name="this-is-fine" size={64} class="flex h-32 w-32 lg:h-64 lg:w-64" />
		</div>
	</section>

	{/* Blog */}
	<section class="w-full space-y-6">
		<div class="space-y-2">
			<h2 class="text-3xl font-semibold">Blog</h2>
			<p class="text-muted-foreground">Writing on topics I am passionate about.</p>
		</div>

		<ul class="space-y-3">
			{
				blog.map((post) => {
					const formattedDate = new Date(post.data.date).toLocaleString('en-US', {
						month: 'long',
						year: 'numeric'
					});

					return (
						<li class="grid items-end gap-2 md:grid-cols-[90px_1fr]">
							<span class="text-muted-foreground h-fit">{formattedDate}</span>
							<Link href={`/${post.collection}/${post.id}`} className="line-clamp-3" underline>
								{post.data.title}
							</Link>
							<Separator className="md:col-span-2" />
						</li>
					);
				})
			}
		</ul>
	</section>

	{/* Projects */}
	<section class="w-full space-y-6">
		<div class="space-y-2">
			<h2 class="text-3xl font-semibold">Projects</h2>
			<p class="text-muted-foreground">
				Several projects that I have worked on, both private and open source.
			</p>
		</div>

		<div class="grid gap-6">
			{projects.map((project) => <ProjectCard entry={project} />)}
		</div>
	</section>
</Layout>
