---
import Layout from '~/layouts/layout.astro';
import { getCollection } from 'astro:content';
import type { PaginateFunction } from 'astro';
import { SITE } from '~/constants/global';
import { PaginationComponent } from '~/components/shared/pagination';
import PageHead from '~/components/main/page-head.astro';
import ProjectCard from '~/components/main/project-card.astro';

const TITLE = 'Projects';
const DESCRIPTION = 'Several projects that I have worked on, both private and open source.';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
	const projects = (await getCollection('projects')).sort((postA, postB) => {
		const aDate = new Date(postA.data.date);
		const bDate = new Date(postB.data.date);
		return bDate.getTime() - aDate.getTime();
	});

	return paginate(projects, { pageSize: SITE.pageSize });
}

const { page } = Astro.props;
---

<Layout className="flex flex-col space-y-12">
	<PageHead slot="head" title={TITLE} description={DESCRIPTION} />
	<div class="w-full space-y-2">
		<h1 class="text-4xl font-semibold">{TITLE}</h1>
		<p class="text-neutral-400">{DESCRIPTION}</p>
	</div>

	<div class="grid gap-6">
		{page.data.map((project) => <ProjectCard entry={project} />)}
	</div>

	<PaginationComponent
		client:load
		currentPage={page.currentPage}
		totalPages={page.lastPage}
		baseUrl={'/projects/'}
	/>
</Layout>
