---
import { Badge } from '~/components/shared/badge';
import { Card, CardContent, CardHeader, CardTitle } from '~/components/shared/card';
import Layout from '~/layouts/layout.astro';
import Image from '~/components/image.astro';

const PROJECTS_PATH = 'projects';
const posts = await Astro.glob('./*.mdx');
---

<Layout title="Blog">
	<main class="">
		<h1 class="font-sans text-xl font-bold">Projects</h1>
		<p class="text-muted-foreground mb-4 text-sm leading-relaxed">
			Several projects that I have worked on, both private and open source.
		</p>

		<div class="mx-auto grid max-w-[800px] grid-cols-1 gap-3 sm:grid-cols-2">
			{
				posts
					.sort((postA, postB) => {
						const aDate = new Date(postA.frontmatter.date);
						const bDate = new Date(postB.frontmatter.date);
						return bDate.getTime() - aDate.getTime();
					})
					.map(async (post) => {
						const { cover, title, date, slug, tools, description } = post?.frontmatter;
						const dateStr = new Date(date).toLocaleString('en-US', {
							month: 'short',
							day: 'numeric',
							year: 'numeric'
						});

						return (
							<a href={`/${PROJECTS_PATH}/${slug}`} class={'h-full'}>
								<Card class="group hover:bg-accent flex h-full flex-col overflow-hidden border pb-2 transition-all duration-300 ease-out hover:scale-[102%] hover:shadow-lg">
									{cover && (
										<Image
											src={cover}
											alt={`${title} Cover`}
											class="h-40 w-full overflow-hidden object-cover object-top transition-all duration-300 ease-out group-hover:brightness-50"
										/>
									)}
									<CardHeader class="px-2">
										<div class="space-y-1">
											<CardTitle class="mt-1 text-base">{title}</CardTitle>
											<time class="font-sans text-xs">{dateStr}</time>
											<p class="prose text-muted-foreground dark:prose-invert line-clamp-3 max-w-full font-sans text-xs text-pretty">
												{description}
											</p>
										</div>
									</CardHeader>
									<CardContent class="mt-auto flex flex-col p-0 px-2">
										{tools && tools.length > 0 && (
											<div class="mt-2 flex flex-wrap gap-1">
												{tools?.map((tool: any) => (
													<Badge class="px-1 py-0 text-[10px]" variant="secondary">
														{tool.name}
													</Badge>
												))}
											</div>
										)}
									</CardContent>
								</Card>
							</a>
						);
					})
			}
		</div>
	</main>
</Layout>
